---
name: dependabot-auto-merge

permissions: read-all

on:
  pull_request:

jobs:
  auto-merge:
    permissions:
      contents: write
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: ahmadnassri/action-dependabot-auto-merge@v2
        with:
          github-token: ${{ secrets.DEPENDABOT_AUTOMERGE }}
          target: minor
